html{
  background: url(images/dinoBackground.jpg);
}

h1{
  color: gray;
  text-shadow: 2px 2px black;
}

input{
  margin-top: 20px;
}

.container{
  background: #F59A1D;
  font-size: 25px;
}

.animalDelete{
  margin-top: 30px;
}

#background{
  background: gray;
}
